# Project For Data Science Term 2

## Profit and Waste Analysis of Repeating Menu Systems in a Filipino Eatery

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pylatex


# data = pd.read_excel("filipino_eatery_realistic_month.xlsx")
data=pd.read_excel("final_realism_upgraded_dataset.xlsx")
data

,Date,Day,Dish,Dish_Type,Cost_PHP,Price_PHP,Total_Serving,Sold,Unsold,Revenue,Profit
0,2025-01-06,Monday,Sinigang na Baboy,Soup,556,60,12,12,0,720,164
1,2025-01-06,Monday,Chicken Adobo,Chicken,619,60,13,10,3,600,-19
2,2025-01-06,Monday,Dinakdakan,Pork,969,80,14,13,1,1040,71
3,2025-01-06,Monday,Dinakdakan,Pork,865,80,12,11,1,880,15
4,2025-01-06,Monday,Paksiw na Bangus,Fish,336,60,15,15,0,900,564
...,...,...,...,...,...,...,...,...,...,...,...
175,2025-02-01,Saturday,Pork Adobo,Pork,558,60,13,12,1,720,162
176,2025-02-01,Saturday,Fried Salmon,Fish,291,50,14,12,2,600,309
177,2025-02-01,Saturday,Fried Salmon,Fish,303,50,15,14,1,700,397
178,2025-02-01,Saturday,Chopsuey,Vegetable,270,40,15,15,0,600,330
179,2025-02-01,Saturday,Beef Steak,Beef,809,80,14,14,0,1120,311

### Derived Metrics

In [32]:
# Create derived metrics
data['Waste_Rate'] = data['Unsold'] / data['Total_Serving']
data['Profit_Margin'] = data['Profit'] / data['Revenue']
data['Sell_Through_Rate'] = data['Sold'] / data['Total_Serving']

In [33]:
# aggregate by week
data['Date'] = pd.to_datetime(data['Date'])
data['Week'] = data['Date'].dt.isocalendar().week
data['Week'] = data['Week'] - data['Week'].min() + 1  # normalize to start at 1

weekly_summary = data.groupby('Week').agg(
    Cost_PHP=('Cost_PHP', 'sum'),
    Price_PHP=('Price_PHP', 'sum'),
    Total_Serving=('Total_Serving', 'sum'),
    Number_Sold=('Sold', 'sum'),
    Unsold_Quantity=('Unsold', 'sum'),
    Revenue=('Revenue', 'sum'),
    Profit=('Profit', 'sum'),
)

weekly_summary['Loss_PHP'] = (data['Price_PHP'] * data['Unsold']).groupby(data['Week']).sum()

weekly_summary

,Cost_PHP,Price_PHP,Total_Serving,Number_Sold,Unsold_Quantity,Revenue,Profit,Loss_PHP
Week,,,,,,,,
1,25534,2770,582,546,36,33730,8196,2120
2,27297,2820,601,563,38,34570,7273,2210
3,24042,2630,586,545,41,32620,8578,2430
4,26349,2740,593,555,38,33890,7541,2170

In [43]:
data.head()

,Date,Day,Dish,Dish_Type,Cost_PHP,Price_PHP,Total_Serving,Sold,Unsold,Revenue,Profit,Waste_Rate,Profit_Margin,Sell_Through_Rate,Week
0,2025-01-06,Monday,Sinigang na Baboy,Soup,556,60,12,12,0,720,164,0.000000,0.227778,1.000000,1
1,2025-01-06,Monday,Chicken Adobo,Chicken,619,60,13,10,3,600,-19,0.230769,-0.031667,0.769231,1
2,2025-01-06,Monday,Dinakdakan,Pork,969,80,14,13,1,1040,71,0.071429,0.068269,0.928571,1
3,2025-01-06,Monday,Dinakdakan,Pork,865,80,12,11,1,880,15,0.083333,0.017045,0.916667,1
4,2025-01-06,Monday,Paksiw na Bangus,Fish,336,60,15,15,0,900,564,0.000000,0.626667,1.000000,1

### Exploratory Data Analysis

In [34]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               180 non-null    datetime64[us]
 1   Day                180 non-null    str
 2   Dish               180 non-null    str
 3   Dish_Type          180 non-null    str
 4   Cost_PHP           180 non-null    int64
 5   Price_PHP          180 non-null    int64
 6   Total_Serving      180 non-null    int64
 7   Sold               180 non-null    int64
 8   Unsold             180 non-null    int64
 9   Revenue            180 non-null    int64
 10  Profit             180 non-null    int64
 11  Waste_Rate         180 non-null    float64
 12  Profit_Margin      180 non-null    float64
 13  Sell_Through_Rate  180 non-null    float64
 14  Week               180 non-null    UInt32
dtypes: UInt32(1), datetime64[us](1), float64(3), int64(7), str(3)
memory usage: 25.0 KB

In [35]:
data.describe()

,Date,Cost_PHP,Price_PHP,Total_Serving,Sold,Unsold,Revenue,Profit,Waste_Rate,Profit_Margin,Sell_Through_Rate,Week
count,180,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.0
mean,2025-01-18 22:24:00,573.455556,60.888889,13.122222,12.272222,0.850000,748.944444,175.488889,0.064091,0.240107,0.935909,2.494444
min,2025-01-06 00:00:00,227.000000,40.000000,10.000000,9.000000,0.000000,400.000000,-247.000000,0.000000,-0.411667,0.750000,1.0
25%,2025-01-12 12:00:00,322.250000,60.000000,12.000000,11.000000,0.000000,600.000000,29.000000,0.000000,0.034226,0.904167,1.75
50%,2025-01-18 00:00:00,610.000000,60.000000,13.000000,12.000000,1.000000,720.000000,184.000000,0.066667,0.217917,0.933333,2.0
75%,2025-01-25 12:00:00,767.000000,70.000000,14.000000,14.000000,1.250000,850.000000,297.000000,0.095833,0.488542,1.000000,3.25
max,2025-02-01 00:00:00,1012.000000,80.000000,15.000000,15.000000,3.000000,1200.000000,627.000000,0.250000,0.696667,1.000000,4.0
std,NaN,233.560187,11.641233,1.388925,1.563660,0.948242,184.152891,178.955707,0.072163,0.253175,0.072163,1.121139

In [37]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               180 non-null    datetime64[us]
 1   Day                180 non-null    str
 2   Dish               180 non-null    str
 3   Dish_Type          180 non-null    str
 4   Cost_PHP           180 non-null    int64
 5   Price_PHP          180 non-null    int64
 6   Total_Serving      180 non-null    int64
 7   Sold               180 non-null    int64
 8   Unsold             180 non-null    int64
 9   Revenue            180 non-null    int64
 10  Profit             180 non-null    int64
 11  Waste_Rate         180 non-null    float64
 12  Profit_Margin      180 non-null    float64
 13  Sell_Through_Rate  180 non-null    float64
 14  Week               180 non-null    UInt32
dtypes: UInt32(1), datetime64[us](1), float64(3), int64(7), str(3)
memory usage: 25.0 KB

In [44]:
data.groupby('Dish').agg(
    Cost_PHP=('Cost_PHP', 'sum'),
    Revenue=('Revenue', 'sum'),
    Profit=('Profit', 'sum'),
    Loss_PHP=('Price_PHP', lambda x: (x * data.loc[x.index, 'Unsold']).sum()),
    Waste_Rate=('Waste_Rate', 'mean'),
    Profit_Margin=('Profit_Margin', 'mean'),
    Sell_Through_Rate=('Sell_Through_Rate', 'mean')
).reset_index()

,Dish,Cost_PHP,Revenue,Profit,Loss_PHP,Waste_Rate,Profit_Margin,Sell_Through_Rate
0,Beef Steak,10160,13040,2880,400,0.029365,0.216245,0.970635
1,Chicken Adobo,2519,2400,-119,600,0.200321,-0.052172,0.799679
2,Chicken BBQ,1282,1150,-132,150,0.107143,-0.114545,0.892857
3,Chicken Curry,6498,6480,-18,960,0.132519,-0.029986,0.867481
4,Chopsuey,2251,4480,2229,280,0.058893,0.491883,0.941107
5,Dinakdakan,10326,11440,1114,320,0.028139,0.089863,0.971861
6,Fried Salmon,2944,6200,3256,500,0.076337,0.518489,0.923663
7,Fried Tilapia,1729,4560,2831,420,0.088217,0.611713,0.911783
8,Ginataang Kalabasa,1225,2680,1455,120,0.042051,0.540939,0.957949
9,Ginataang Pagi,3420,4440,1020,240,0.052503,0.218704,0.947497
10,Ginataang Tulingan,4790,9600,4810,660,0.063919,0.494553,0.936081
11,Kalderetang Manok,6251,6000,-251,1080,0.152422,-0.057696,0.847578
12,Labong,1276,2400,1124,160,0.064286,0.460510,0.935714
13,Laing,496,960,464,120,0.112637,0.480245,0.887363
14,Monggo,762,1520,758,80,0.047619,0.497123,0.952381
15,Nilagang Baka,4615,6240,1625,0,0.000000,0.258520,1.000000
16,Nilagang Pata,2506,2580,74,0,0.000000,0.027652,1.000000
17,Paksiw na Bangus,4216,9840,5624,840,0.080868,0.562418,0.919132
18,Pork Adobo,6861,8400,1539,540,0.060073,0.176643,0.939927
19,Pork Menudo,8216,7260,-956,900,0.111722,-0.143761,0.888278
20,Sinigang na Baboy,1756,2040,284,0,0.000000,0.131852,1.000000
21,Sisig,13254,14560,1306,560,0.037294,0.079772,0.962706
22,Tinolang Manok,2941,3240,299,0,0.000000,0.088247,1.000000
23,Yellow Fin Tuna Soup,2928,3300,372,0,0.000000,0.105975,1.000000

In [45]:
data.groupby('Dish_Type').agg(
    Cost_PHP=('Cost_PHP', 'sum'),
    Revenue=('Revenue', 'sum'),
    Profit=('Profit', 'sum'),
    Loss_PHP=('Price_PHP', lambda x: (x * data.loc[x.index, 'Unsold']).sum()),
    Waste_Rate=('Waste_Rate', 'mean'),
    Profit_Margin=('Profit_Margin', 'mean'),
    Sell_Through_Rate=('Sell_Through_Rate', 'mean')
).reset_index()

,Dish_Type,Cost_PHP,Revenue,Profit,Loss_PHP,Waste_Rate,Profit_Margin,Sell_Through_Rate
0,Beef,10160,13040,2880,400,0.029365,0.216245,0.970635
1,Chicken,16550,16030,-520,2790,0.149168,-0.051121,0.850832
2,Fish,17099,34640,17541,2660,0.072707,0.498084,0.927293
3,Pork,38657,41660,3003,2320,0.055922,0.057715,0.944078
4,Soup,14746,17400,2654,0,0.000000,0.136955,1.000000
5,Vegetable,6010,12040,6030,760,0.059577,0.495252,0.940423

In [46]:
data.groupby('Week').agg(
    Cost_PHP=('Cost_PHP', 'sum'),
    Revenue=('Revenue', 'sum'),
    Profit=('Profit', 'sum'),
    Loss_PHP=('Price_PHP', lambda x: (x * data.loc[x.index, 'Unsold']).sum()),
    Waste_Rate=('Waste_Rate', 'mean'),
    Profit_Margin=('Profit_Margin', 'mean'),
    Sell_Through_Rate=('Sell_Through_Rate', 'mean')
).reset_index()

,Week,Cost_PHP,Revenue,Profit,Loss_PHP,Waste_Rate,Profit_Margin,Sell_Through_Rate
0,1,25534,33730,8196,2120,0.063077,0.246352,0.936923
1,2,27297,34570,7273,2210,0.060424,0.224773,0.939576
2,3,24042,32620,8578,2430,0.068419,0.268632,0.931581
3,4,26349,33890,7541,2170,0.064624,0.221647,0.935376

### latex

In [41]:
# from pylatex import Document, Section, Subsection, Command, NoEscape

# # -----------------------------
# # Create IEEE Document
# # -----------------------------
# doc = Document(documentclass="IEEEtran")

# # -----------------------------
# # Title Information
# # -----------------------------
# doc.preamble.append(Command('title',
#     'Profit and Waste Analysis of Repeating Menu Systems in a Filipino Eatery'))
# doc.preamble.append(Command('author', 'Author Name'))
# doc.append(NoEscape(r'\maketitle'))

# # -----------------------------
# # Abstract
# # -----------------------------
# with doc.create(Section("Abstract", numbering=False)):
#     doc.append(
#         "This study analyzes dish-level profitability and waste patterns "
#         "in a repeating menu system of a Filipino eatery. Using operational "
#         "batch data, revenue, profit, sell-through rates, and waste percentages "
#         "were computed to evaluate menu performance. Results highlight the "
#         "impact of menu composition and intra-menu competition on dish-level "
#         "outcomes. The findings demonstrate how descriptive data analytics can "
#         "support operational decision-making and improve production efficiency "
#         "in small-scale food enterprises."
#     )

# # =====================================================
# # CHAPTER 1 â€” INTRODUCTION
# # =====================================================
# with doc.create(Section("Introduction")):

#     with doc.create(Subsection("Background of the Study")):
#         doc.append(
#             "Small-scale food establishments often rely on experience-based "
#             "decision-making when selecting daily dish combinations and "
#             "production quantities. Repeating menu systems may produce "
#             "variability in profitability and unsold servings. This study "
#             "applies dish-level operational analytics to evaluate profit and "
#             "waste patterns in a structured menu cycle."
#         )

#     with doc.create(Subsection("Problem Statement")):
#         doc.append(
#             "Despite consistent menu rotation, variability in dish-level "
#             "profitability and unsold servings persists. The study investigates "
#             "how operational data can be used to evaluate and improve financial "
#             "performance while minimizing waste."
#         )

#     with doc.create(Subsection("Objectives of the Study")):
#         doc.append(
#             "1) Analyze dish-level profitability.\n"
#             "2) Measure waste using unsold quantity.\n"
#             "3) Compare performance across dish types.\n"
#             "4) Identify high and low performing dishes.\n"
#             "5) Provide data-driven menu recommendations."
#         )

#     with doc.create(Subsection("Scope and Limitations")):
#         doc.append(
#             "The study uses one month of operational batch data. "
#             "Customer-level transaction data and predictive modeling "
#             "are not included."
#         )

# # =====================================================
# # CHAPTER 2 â€” RELATED LITERATURE
# # =====================================================
# with doc.create(Section("Related Literature")):

#     with doc.create(Subsection("Menu Engineering")):
#         doc.append(
#             "Menu engineering evaluates dishes based on profitability "
#             "and sales performance to support pricing and production decisions."
#         )

#     with doc.create(Subsection("Food Waste in Food Service")):
#         doc.append(
#             "Food waste in small establishments is commonly caused by "
#             "demand uncertainty and overproduction. Sell-through rate is "
#             "a key operational metric."
#         )

#     with doc.create(Subsection("Data Analytics in Small Enterprises")):
#         doc.append(
#             "Descriptive and diagnostic analytics provide measurable insights "
#             "into operational efficiency and resource utilization."
#         )

# # =====================================================
# # CHAPTER 3 â€” METHODOLOGY
# # =====================================================
# with doc.create(Section("Methodology")):

#     with doc.create(Subsection("Research Design")):
#         doc.append(
#             "This study applies descriptive and diagnostic analytics to "
#             "evaluate dish-level performance in a repeating menu system."
#         )

#     with doc.create(Subsection("Dataset Description")):
#         doc.append(
#             "The dataset includes dish name, type, cost, price, total serving, "
#             "number sold, revenue, profit, and unsold quantity."
#         )

#     with doc.create(Subsection("Performance Metrics")):
#         doc.append(NoEscape(r"Revenue = Price $\times$ Number\_Sold \\"))
#         doc.append(NoEscape(r"Profit = Revenue - Cost \\"))
#         doc.append(NoEscape(r"SellThrough = Number\_Sold / Total\_Serving \\"))
#         doc.append(NoEscape(r"Waste\% = Unsold\_Quantity / Total\_Serving"))

#     with doc.create(Subsection("Analytical Procedure")):
#         doc.append(
#             "Profitability metrics were computed for each dish. "
#             "Dishes were ranked by profit and waste, aggregated by type, "
#             "and evaluated using a profit-waste performance matrix."
#         )

# # =====================================================
# # CHAPTER 4 â€” RESULTS AND DISCUSSION
# # =====================================================
# with doc.create(Section("Results and Discussion")):

#     with doc.create(Subsection("Profitability Analysis")):
#         doc.append(
#             "High-performing dishes contributed disproportionately "
#             "to total revenue, while certain dishes exhibited lower margins."
#         )

#     with doc.create(Subsection("Waste Analysis")):
#         doc.append(
#             "Waste levels varied across dish types, indicating production "
#             "imbalance and demand variability."
#         )

#     with doc.create(Subsection("Menu Composition Effects")):
#         doc.append(
#             "Chicken dishes exhibited increased unsold quantities when "
#             "served alongside multiple pork or beef dishes, indicating "
#             "intra-menu competition effects."
#         )

# # =====================================================
# # CHAPTER 5 â€” CONCLUSION
# # =====================================================
# with doc.create(Section("Conclusion")):
#     doc.append(
#         "Dish-level operational analytics provides measurable insights "
#         "into profitability and waste behavior. Menu composition influences "
#         "performance, and balancing dish types can improve efficiency. "
#         "Future work may incorporate predictive modeling and optimization."
#     )

# # -----------------------------
# # Generate .tex file
# # -----------------------------
# doc.generate_tex("profit_waste_ieee")
# print("LaTeX file generated: profit_waste_ieee.tex")